body {
	margin: 0;
  background-color: rgb(89, 78, 101);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.container{
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.note-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note{
  background-color: rgb(208, 180, 235);

  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.note.new{
  background-color: #a2a1b1;
}
textarea{
  border: none;
  resize: none;
  background-color:#a2a1b1;
}

.save:hover{
  background-color: red;
  cursor: pointer;
}
.save{
  background-color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
textarea:focus{
  outline: none;
}